.sidebar {
  width: 242px;
  gap: 16px;
  background-color: #ffffff;
  /* padding: 24px 16px; */
  border-right: 1px solid #e9eaeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 161.5px;
  height: 32px;
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 0 20px;
  gap: 20px;
}

.user-profile {
  width: 100%;
  max-width: 202px;
  height: 40px;
  padding: 10px 12px;
  background-color: #ffffff;
  border: 1px solid #d5d7da;
  border-radius: 8px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #181d27;
  font-weight: 400;
}

.nav-menu {
  padding: 0 16px 24px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-nav-links {
  display: flex;
  flex-direction: column;
}

.bottom-nav-links {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: medium;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  color: #333;
  gap: 8px;
  width: 182px;
  height: 24px;
  line-height: 24px;
  padding: 10px 14px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-icon {
  width: 24px;
  height: 24px;
}

.nav-link.active {
  background-color: #1570ef;
  color: white;
}

.nav-link:hover {
  background-color: #f5f5f5;
  color: #414651;
}

.menu-icon {
  background: none;
  display: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.menu-icon img {
  width: 24px;
  height: 24px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .sidebar {
    display: none;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .small-screen-navbar {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .responsive-navbar {
    border: 1px solid #e9eaeb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
    width: -webkit-fill-available;
    background-color: #ffffff;
    padding: 16px;
  }

  .responsive-navbar .nav-link {
    width: auto;
    height: 24px;
    padding: 8px 12px;
    border-radius: 4px;
  }

  .sidebar-header {
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1000;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: -webkit-fill-available;
    background-color: #ffffff;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1100; /* Ensure it appears above the overlay */
    display: flex;
    height: 440px;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
  }

  .nav-menu nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  .nav-link:hover {
    background-color: #f5f5f5;
  }

  .nav-link img {
    width: 20px;
    height: 20px;
  }
  .user-profile {
    width: 100%;
    max-width: 408px;
  }
  .reponsive-nav-header{
    gap: 24px;
  }
 
}
